<div class = "col-md-6">
    <%= form_for( [:admin, @user], html: { method: :put }) do |f| %>
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
              data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >
              Change Password </button>
            </h2>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control', placeholder: 'Password',
          required: true %>
              <label class= 'less-imp-label' >Hint: The password should be at least eight characters long. To make it stronger, use upper and lower case letters, numbers, and symbols like ! " ? $ % ^ & ).</label><br/>
              <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control',
          placeholder: 'Confirm Password', required: true %><br/>
            </div>
            <div class= 'actions text-center' >
              <%= f.submit 'Edit User Password', class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
