<h2>Coupon <%= @coupon.id %></h2>
  <strong>Name of Coupon:</strong>
  <%= @coupon.name %></p><br/>
  <strong>Value of Coupon:</strong>
  <%= @coupon.value %></p><br/>
  <%= link_to 'Back', admin_coupons_path, class: 'btn btn-primary' %>
